<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deliverables</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <section id="Deliverables">
        <article>
            <a href="">
                <h4>toolkit</h4>
            </a>

            <a href="">
                <h4>Rabobank ft. faffi</h4>
            </a>

            <a href="">
                <h4>wonen edits</h4>
            </a>

            <a href="">
                <h4>regenboog films</h4>
            </a>

            <a href="">
                <h4>buurtsupport</h4>
            </a>
        
        </article>
    </section>


    <%- include('partials/footer') %>
    
</body>
</html>

<style>
    
</style>