<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="page-wrapper">
        <%- include('partials/header') %>

        <main>
            <section id="homePage">
                <article>
                    <h1>Rabobank muziek portal</h1>
                    <p>De plek waar je alle rabobank muziek assets vind</p>
                </article>

                <article>
                    <div id="sonicBrandingcontainerDiv">
                    <h2>Sonic Branding</h2>
                    <!-- <img src="/static/svg/sonic-branding-ruit-wit.svg" alt="5 elementen voor sonic branding"> -->
                    <!-- svg sonic branding elementen -->
                    <div id="sonicBrandingDiv">
                        <svg id="svgSonicBranding" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2660.15 685.49">
                            <defs>
                            <style>
                                .cls-1 {
                                fill: none;
                                stroke-width: 4px;
                                }
                        
                                .cls-1, .cls-2 {
                                stroke: #fff;
                                stroke-miterlimit: 10;
                                }
                        
                                .cls-3 {
                                font-family: AkzidenzGroteskPro-Regular, 'Akzidenz-Grotesk Pro';
                                font-size: 45px;
                                }
                        
                                .cls-3, .cls-2, .cls-4 {
                                fill: #fff;
                                }
                        
                                .cls-2 {
                                stroke-width: .75px;
                                }
                        
                                .cls-5 {
                                letter-spacing: 0em;
                                }
                        
                                .cls-6 {
                                letter-spacing: 0em;
                                }
                        
                                .cls-7 {
                                letter-spacing: -.08em;
                                }
                        
                                .cls-8 {
                                letter-spacing: -.06em;
                                }
                        
                                .cls-9 {
                                letter-spacing: -.02em;
                                }
                        
                                .cls-10 {
                                letter-spacing: -.04em;
                                }
                        
                                .cls-11 {
                                letter-spacing: .02em;
                                }
                        
                                .cls-12 {
                                letter-spacing: .02em;
                                }
                        
                                .cls-13 {
                                letter-spacing: .04em;
                                }
                            </style>
                            </defs>
                            <g id="k1ZAI8.tif">
                            <g>
                                <path class="cls-4" d="M267.73,321.56h-2.17l-2.46-1.43-36.4-29.13c-.27-.26-.26-.6-.3-.94-.57-4.16.29-8.89.34-13.04.15-12.76.27-25.46.62-38.19.09-3.36-.23-6.75.15-10.1,12.39-9.98,24.62-20.23,37.34-29.74,3.15-1.35,6.51,1.1,6.63,4.42v113.34c-.06,2.42-1.68,3.91-3.74,4.8Z"/>
                                <path class="cls-4" d="M176.72,242.4c1.2-4.14,3.97-8.04,7.96-9.9.69-.32,3.41-1.28,4-1.28h29.67l-.93,57.74h-28.73c-.59,0-3.31-.96-4-1.28-3.98-1.86-6.76-5.75-7.96-9.9v-35.39Z"/>
                                <path class="cls-4" d="M317.66,209.25c1.51-.31,2.84-.12,4.1.73,1.93,1.29,5.33,9.13,6.38,11.63,10.28,24.5,10.26,52.47,0,76.97-1.06,2.52-4.42,10.25-6.38,11.63-3.61,2.54-8.12-.51-7.41-4.93.3-1.87,3.51-6.98,4.47-9.19,9.96-22.78,9.96-49.22,0-72.01-.97-2.21-4.17-7.32-4.47-9.19-.38-2.34.83-5.14,3.31-5.65Z"/>
                                <path class="cls-4" d="M302.11,222.33c3.62-.02,4.89,3.64,6.15,6.42,8.03,17.67,8.48,39.61,1.95,57.81-.88,2.45-3.58,9.62-5.74,10.72-3.7,1.87-7.39-1.02-6.93-5.06.24-2.08,3.31-7.76,4.19-10.4,5.09-15.35,4.51-31.55-1.15-46.64-1.11-2.97-3.67-6.36-2.9-9.56.42-1.76,2.64-3.27,4.42-3.28Z"/>
                                <path class="cls-4" d="M283.8,235.95c5.78-1.2,7.17,6.02,8.2,10.29,2.49,10.28,2.18,23.02-1.59,32.95-.61,1.62-1.14,3.48-2.7,4.44-1.66,1.03-3.77.99-5.36-.12-3.87-2.72-.78-7.52.13-11,2.14-8.12,2.16-16.46.07-24.59-.64-2.51-2.37-5.71-2.09-8.17.18-1.62,1.74-3.47,3.34-3.8Z"/>
                            </g>
                            </g>
                            <g id="rTVPwn.tif">
                            <g>
                                <path class="cls-4" d="M821.55,182.98l3.05,5.41v142.18c-.95,7.33-10.12,7.33-11.07,0v-142.18s3.04-5.41,3.04-5.41h4.98Z"/>
                                <path class="cls-4" d="M926.15,246.56v25.83c-13.08,10.21-11.56-11.34-11-19.42.57-8.28,3.29-12.42,11-6.42Z"/>
                                <path class="cls-4" d="M798.3,208.03c4.7-.42,6.03,5.71,6.36,9.19,2.5,27.1-1.95,57.98-.04,85.48-1.26,11.18-10.88,11.02-11.99-.95-2.5-27.1,1.95-57.98.04-85.48.06-3.17,2.07-7.92,5.63-8.23Z"/>
                                <path class="cls-4" d="M716.62,208.03c4.25-.39,6.07,4.85,6.37,8.19,2.49,27.81-1.98,59.29-.03,87.5-.75,8.03-10.09,10.44-11.04,1.03-2.89-28.74,2.32-62.25,0-91.51-.3-2.37,2.53-5.01,4.69-5.21Z"/>
                                <path class="cls-4" d="M839.14,208.03c3.75-.34,5.08,3.2,5.38,6.19,2.89,28.74-2.32,62.25,0,91.51-1.06,7.79-10.19,6.6-11.05-2.98-2.49-27.81,1.98-59.29.03-87.5-.15-2.87,2.79-6.96,5.66-7.22Z"/>
                                <path class="cls-4" d="M879.98,208.03c3.75-.34,5.08,3.2,5.38,6.19,2.89,28.74-2.32,62.25,0,91.51-1.06,7.79-10.19,6.6-11.05-2.98-2.49-27.81,1.98-59.29.03-87.5-.15-2.87,2.79-6.96,5.66-7.22Z"/>
                                <path class="cls-4" d="M694.77,228.86c3.03-.88,5.09.43,6.73,2.82l.5,54.1c-1.98,6.53-10.1,5.97-10.98-.92-1.98-15.4,1.62-34.91,0-50.77-.11-2.04,1.87-4.69,3.76-5.23Z"/>
                                <path class="cls-4" d="M735.61,228.86c3.03-.88,5.09.43,6.73,2.82l.5,54.1c-1.98,6.53-10.1,5.97-10.98-.92-1.98-15.4,1.62-34.91,0-50.77-.11-2.04,1.87-4.69,3.76-5.23Z"/>
                                <path class="cls-4" d="M776.45,228.86c3.03-.88,5.09.43,6.73,2.82l.5,54.1c-1.98,6.53-10.1,5.97-10.98-.92-1.98-15.4,1.62-34.91,0-50.77-.11-2.04,1.87-4.69,3.76-5.23Z"/>
                                <path class="cls-4" d="M858.13,228.86c3.03-.88,5.09.43,6.73,2.82l.5,54.1c-1.98,6.53-10.1,5.97-10.98-.92-1.98-15.4,1.62-34.91,0-50.77-.11-2.04,1.87-4.69,3.76-5.23Z"/>
                                <path class="cls-4" d="M898.97,228.86c3.03-.88,5.09.43,6.73,2.82l.5,54.1c-1.98,6.53-10.1,5.97-10.98-.92-1.98-15.4,1.62-34.91,0-50.77-.11-2.04,1.87-4.69,3.76-5.23Z"/>
                                <path class="cls-4" d="M675.85,243.75c8.57-1.31,7.05,21.67,5.82,26.73-1.72,7.05-9.72,5.81-10.57-.51-.45-3.33-.32-22.17.97-23.97.58-.81,2.78-2.1,3.78-2.25Z"/>
                                <path class="cls-4" d="M757.54,243.71c8.06-1.15,7.11,21.21,6.03,25.99-1.57,6.98-9.84,7.39-10.8.26-.45-3.34-.32-22.16.97-23.97.55-.76,2.86-2.15,3.79-2.28Z"/>
                            </g>
                            </g>
                            <g id="IDrTWW">
                            <g>
                                <path class="cls-4" d="M2472.49,182.1c2.02,2.44,3.28,5.37,3.6,8.56v138.34c-.49,7.6-6.26,13.55-13.79,14.4h-111.78c-6.61-.73-12.05-5.56-13.49-12.05-.69-46.78-.09-93.67-.3-140.49.57-7.39,6.25-13.26,13.59-14.2h111.78c4.08.4,7.79,2.3,10.39,5.44ZM2465.99,185.54c-1.45-1.13-3.07-1.76-4.91-1.93h-108.92c-5.12.33-8.13,3.62-8.48,8.68.21,45.87-.39,91.8.3,137.63.82,3.79,3.97,6.19,7.77,6.53h109.12c5.02-.35,8.13-3.94,8.27-8.89-.19-45.75.34-91.55-.27-137.26-.36-1.88-1.4-3.6-2.89-4.77Z"/>
                                <path class="cls-4" d="M2461.31,246.81c2.41,2.13.81,6.39-2.48,6.28h-74.38c-4.71-.72-4.34-6.95.4-7.17h73.98c.75.04,1.93.4,2.48.89Z"/>
                                <path class="cls-4" d="M2383.68,290.31l75.76-.05c3.99.68,4.01,6.38,0,6.95h-75.39c-3.83-.69-3.93-5.65-.36-6.9Z"/>
                                <path class="cls-4" d="M2383.68,201.85l75.96-.05c3.85.82,3.6,6.27-.2,6.96h-75.19c-3.85-.57-4.35-5.77-.56-6.9Z"/>
                                <path class="cls-4" d="M2384.09,267.02l51.65-.05c4.57.64,4.58,6.67-.21,7.15h-51.08c-4.28-.58-4.54-6.11-.36-7.1Z"/>
                                <path class="cls-4" d="M2438.21,312.41c1.85,2,.72,5.6-2.07,5.85h-52.1c-4-.67-3.86-6.18,0-6.95h51.91c.71-.02,1.8.59,2.27,1.1Z"/>
                                <path class="cls-4" d="M2383.68,222.89l52.46-.05c4.04.63,3.9,6.5-.2,6.95h-51.69c-3.85-.57-4.35-5.76-.56-6.9Z"/>
                                <path class="cls-4" d="M2357.71,249.07c1.61,1.68,3.32,3.29,4.99,4.92.31.3.5.94.91.94,1.17-1.08,2.33-2.18,3.47-3.29.8-.78,1.92-2.4,2.91-2.8,3.36-1.34,6.32,1.62,4.71,4.92-.83,1.69-4.36,4.19-5.69,5.74-.25.26-.29.63-.09.94,1.13,1.13,2.49,2.22,3.58,3.37.58.6,1.95,1.98,2.28,2.62,1.53,2.99-1.49,6.23-4.65,4.85-1.61-.71-4.44-4.38-5.91-5.73-.18-.16-.38-.3-.62-.33-.19-.01-1.61,1.35-1.84,1.57-1.14,1.11-3.27,3.86-4.54,4.44-3.51,1.59-6.49-2.11-4.55-5.31,2.16-1.73,3.83-4.06,5.93-5.77,0-.7-6.53-5.7-6.49-7.4-.43-3.38,2.68-5.17,5.6-3.65Z"/>
                                <path class="cls-4" d="M2357.7,225.18c-1.87-1.69-4.42-4.03-6.04-5.91-1.09-1.26-1.5-2.08-1.19-3.84.4-2.21,3.19-3.12,5.12-2.15.96.48,4.61,4.94,5.13,4.84l10.36-10.29c3.46-2.42,7.37,1.45,5.06,4.86l-13.24,13.32c-1.22,1.01-3.09.91-4.37.06-.45-.3-.53-.63-.83-.9Z"/>
                                <path class="cls-4" d="M2356.69,300.35l3.77,4h.28s10.55-10.49,10.55-10.49c3.78-2.02,7.28,1.98,4.58,5.4-3.52,4.46-9.25,8.53-12.97,12.98-1.63,1.2-3.29.85-4.8-.32-1.41-1.09-5.68-5.33-6.75-6.73-2.83-3.71,1.54-8.14,5.35-4.84Z"/>
                            </g>
                            </g>
                            <g id="gEUMFo">
                            <g>
                                <path class="cls-2" d="M1853.72,221.15c.85.84,1.75,1.64,2.57,2.5.3.32.97.95,1.17,1.27.64.97.84,2.8,1.53,3.81l16.44,16.5.11.04c1.27-1.08,2.14-2.48,3.97-2.66,4.39-.44,6.8,4.53,3.77,7.65l14.15,14.14c4.95,4.93-2.34,12.62-7.48,7.86l-14.26-14.33c-3.28,3.15-8.64.16-7.54-4.34.37-1.51,1.56-2.39,2.59-3.44v-.15l-16.51-16.58-3.85-1.48c-1.56-1.8-3.72-3.41-5.22-5.22-.53-.63-.54-1.12,0-1.75.08-.09.2-.12.27-.19,1.68-1.83,3.5-3.56,5.27-5.32,1.18-.84,2.27.97,3.03,1.71ZM1854.49,224.96c-1.03-1.07-2.05-2.14-3.11-3.17l-3.97,4.11,4.07,4.12c1.31.65,2.79.94,4.06,1.64l16.81,16.88,1.61-1.6v-.16s-16.82-16.88-16.82-16.88c-.67-1.08-.89-2.78-1.51-3.83-.2-.33-.84-.81-1.13-1.11ZM1870.8,256.36c.92.97,2.42.94,3.37.03l7.92-8.01c1.36-2.65-1.45-4.93-3.81-2.82-2.67,2.38-5.05,5.34-7.7,7.78-.63.92-.56,2.2.21,3.02ZM1896.21,266.25l-14.42-14.43-4.53,4.54.07.14c3.03,3.04,6.09,6.06,9.12,9.1,1.62,1.63,3.44,3.84,5.18,5.27,1.04.86,2.5.97,3.62.18,1.65-1.17,2.32-3.1.97-4.81Z"/>
                                <path class="cls-2" d="M1892.71,238.22c-1.34,1.73-4.69,4.94-7.08,4.51-1.01-.18-1.14-1.7.03-2.06,1.45-.45,2.13-.57,3.34-1.61,2.67-2.29,4.44-5.85,5.79-9.03l-6.51,4.51c-1.16.58-2.11.45-3.2-.18-2.99-1.73-4.16-3.47-5.16-6.73-.55-1.78-.41-2.98,1.12-4.14,1.5-1.14,3.26-2.24,4.83-3.32.34-.23.71-.44,1.06-.66l-.57-.15c-4.37-.4-8.82-.05-11.18,4.14-1.4,2.48-.81,4.36-1.38,6.93-.32,1.43-1.21,3.85-2.05,5.04-.7,1-2.15.48-2.03-.65.04-.4.84-1.65,1.06-2.14,1.05-2.34,1.02-3.63,1.21-6.11.35-4.57,4.14-8.46,8.6-9.24,2.32-.41,6.03-.29,8.33.24.54.12,1.04.33,1.25.88.48,1.24-.56,1.78-1.42,2.39-2.18,1.56-4.48,2.98-6.66,4.54-.27.25-.37.5-.34.87.04.49.74,2.32.97,2.84.65,1.46,2.11,2.71,3.5,3.44.87.46,1.02.14,1.76-.35,2.64-1.76,5.1-3.84,7.84-5.42,2.63-.07,1.55,2.54.99,4.03-.94,2.48-2.48,5.34-4.11,7.44Z"/>
                                <path class="cls-2" d="M1857.02,251.26c-1.37,1.38-2.79,2.73-4.16,4.11-.54.54-2.24,2.55-2.88,2.62-.2.02-.38-.08-.59-.07-4.53.26-7.91,4.09-6.68,8.67,1.97,7.32,12.79,6.21,13.35-1.23.05-.63-.18-1.37.27-1.87l7.79-7.76c1.04-.43,1.9.49,1.43,1.51l-7.31,7.4c.09,7.56-8.89,12.03-14.76,6.97-6.38-5.49-2.35-15.86,5.91-15.82,3.2-2.96,6.17-6.24,9.32-9.28,1.14-.66,2.27.51,1.44,1.59-.72.94-2.23,2.27-3.12,3.17Z"/>
                                <path class="cls-2" d="M1851.99,267.95c-2.15,1.87-5.75.89-6.64-1.8-1.05-3.16,1.71-6.22,4.97-5.42,3.24.8,4.17,5.06,1.68,7.23ZM1850.92,265.97c1.45-2.07-1.49-4.47-3.17-2.52-1.84,2.12,1.62,4.73,3.17,2.52Z"/>
                            </g>
                            </g>
                            <g id="wDLf7e">
                            <path class="cls-4" d="M1799.18,307.94c-1.9-.41-6.93-4.98-6.56-7.46v-94.21c.75-5.42,4.48-7.06,9.52-7.52,42.94-3.91,91.77,3.08,135.33,0,5.95.54,8.96,2.43,9.53,8.5,2.79,29.46-2.26,63.3-.01,93.24.73,2.25-5.34,7.46-6.56,7.46h-56.59c.3,1.65-.45,8.5.03,8.98.59.59,14.12.82,16.27,1.26,7.21,1.47,13.36,11.85,10.74,18.8h-82.14c-2.79-6.9,3.84-17.31,10.72-18.82,2.17-.47,15.65-.61,16.29-1.24.48-.48-.27-7.33.03-8.98h-56.59ZM1940.92,281.91v-74.6c0-.17-1.55-1.77-2.02-1.99h-138.2c-.47.22-2.02,1.81-2.02,1.99v74.6h142.24ZM1940.92,287.92h-142.24c.63,4.18-2.25,12.91,3.53,13.99l136.71-.47c3.52-1.71,1.5-10.03,2-13.52ZM1877.81,307.94h-16.03c-1.78,11.14,2.72,11.27,12.57,10.06,5.65-.69,2.92-5.49,3.46-10.06ZM1904.86,330.97c-1.36-3.29-3.82-6.36-7.57-6.95-17.09,1.08-36.25-1.63-53.08-.1-5.11.46-7.46,2.36-9.47,7.06h70.12Z"/>
                            </g>
                            <g id="_1qvZAW.tif" data-name="1qvZAW.tif">
                            <g>
                                <path class="cls-4" d="M1411.56,174.18c2.39,2.38-.26,15.35,1.65,17.24,1.29,1.28,11.94-.24,14.6.53,1.54.44,1.92,2.76,2.09,4.13l.03,142.66-.87,4.91-171.3-.03c-1.49-1.53.74-14.31-1.11-16.22-1.84-1.91-11.2-.33-14.22-.91-.96-.18-2.71-1.96-2.89-2.89l.2-147.76,1.99-2.46,166.17-.21c.86.07,3.12.47,3.66,1.01ZM1407.12,203.32c.47-.69.5-1.53.56-2.33.37-4.93.62-16.27,0-20.93-.15-1.13-.37-1.74-1.59-1.97l-158.8-.03c-2.85.23-3.35.53-3.71,3.4-.51,4.09-.49,14.45,0,18.56.34,2.82.97,3.44,3.78,3.78l156.09.07,3.66-.56ZM1412.56,197.85v125.32c0,1.72-2.94,3.54-4.65,3.36h-144.12c-.46.05-.88.23-1.17.6-.65.82-.67,11.23,0,12.08.49.61,1.29.67,2.02.65l159.29-.44,1.34-.88.63-139.8c-.59-3.2-12.92-2.19-13.35-.89ZM1244.09,209.29c-.49.49-.51,1.63-.57,2.32l.42,108.49c.6,1.51,2.75,1.84,4.25,1.97h154.83c1.16-.04,3.9-.27,4.44-1.34l.13-111.23-.8-.98-159.03-.24c-.86.07-3.12.47-3.66,1.01Z"/>
                                <path class="cls-4" d="M1258.98,239.95c8.43.71,19.72-1.35,27.81,0,5.41.91,7.19,9.37,11.47,10.76,3.8,1.23,11.89-1.08,15.08,1.38,1.25.96,2.56,3.25,2.71,4.85.58,6.29.69,20.96-.02,27.13-.39,3.42-3.37,6.13-6.88,6.02-15.42-.84-31.9,1.06-47.18,0-5.69-.39-7.32-1.51-7.78-7.34-.92-11.71.72-24.61.02-36.45.32-3.21,1.67-5.3,4.77-6.35ZM1261.21,244.4c-.61.11-1.79.49-2.15.96l-.43,37.39c0,1.74,1.82,2.49,3.34,2.44,14.53-.83,30.12,1.03,44.52,0,1.79-.13,4.66-.16,4.67-2.44-.62-7.7.75-16.48,0-24.04-.23-2.3-1.13-2.62-3.36-2.86-5.28-.58-10.02,1.58-14.48-2.42-3.75-3.37-4.1-8.65-9.97-9.15-4.64-.39-17.9-.63-22.15.12Z"/>
                                <path class="cls-4" d="M1340.82,239.95h28.27c.66.14,2.23,1.19,2.76,1.68,2.47,2.25,5.24,8.1,8.26,9.08,5.52,1.79,14.34-2.91,17.2,4.59,1.12,2.93.92,23.22.58,27.45-.44,5.56-3.04,6.98-8.23,7.33-15.15,1.04-31.47-.83-46.74,0-4.06.05-6.85-2.48-7.33-6.45-1.4-11.42,1.08-25.63,0-37.35.55-2.85,2.4-5.46,5.23-6.33ZM1343.05,244.4c-1.03.17-2.87.75-3,1.89.57,4.44-.92,36.46.43,37.79.67.66,2.79,1.03,3.77,1.12,14.67,1.34,31.65-.87,46.51-.23l1.99-1.12c-.06-3.49.98-25.52-.22-26.89-2.14-2.45-11.19-.11-14.22-1.34-.16-.07-2.71-1.79-2.92-1.97-2.18-1.95-5.33-8.06-7.56-8.89-.8-.29-1.79-.4-2.64-.47-4.8-.41-17.67-.62-22.15.12Z"/>
                                <path class="cls-4" d="M1263.01,188.87c24.07,1.16,50.35-1.98,74.17-.14,3.64.28,7.97,2.24,2.68,4.48h-78.32c-1.46-.02-2.42-1.02-3.31-2.02,1.22-1.7,2.81-2.03,4.78-2.32Z"/>
                                <path class="cls-4" d="M1373.53,189.3l2.55-.36,1.14,2.48c-.51,1.11-2.79,1.1-3.83.68-.8-.54-.35-2.13.14-2.8Z"/>
                                <path class="cls-4" d="M1389.88,188.74c5.65,1.41,1.57,5.83-.82,2.08l.82-2.08Z"/>
                                <path class="cls-4" d="M1360.06,188.74c.03.98,1.61,2.59.47,3.35-1.26.54-2.69.08-3.57-.91l3.1-2.44Z"/>
                                <path class="cls-4" d="M1280,270.07c.57-1.63.83-3.4,1.44-5.01.27-.71,2.13-5.02,2.33-5.22,1.53-1.56,3.67-.16,3.76,2.05.1,2.53-2.96,9.25-3.99,11.94-.4,1.04-.34,2.21-.77,3.23-.27.64-2.69,4.94-2.98,4.96-3.75-1.16-2.98-3.16-4-5.73-1.53-3.83-4.83-10.39-4.72-14.44.03-1,.2-1.93.92-2.69,1.03-.72,2.84,1.24,3.33,2.04,1.62,2.65.85,7.46,4.68,8.87Z"/>
                                <path class="cls-4" d="M1295.62,281.58l-.99-17.45c-.43-1.29-3.16-.48-3.51-2.29-.83-4.3,7.4-3.67,8.01-.43.44,2.33.37,15.26-.02,17.74-.29,1.86-1.67,2.69-3.49,2.43Z"/>
                                <path class="cls-4" d="M1357.03,281.54c-2.93-6.28-5.07-12.69-7.07-19.32-.27-1.25,1.77-3.84,2.99-3.07.25.16,2.59,3.86,2.77,4.37.67,1.9.25,6.15,3.22,5.68,1.82-.29,2.05-5.39,2.98-7.27,2.03-4.1,3.72-3.44,5.67.3-.47.64-1.04,1.02-1.33,1.81-1.25,3.32-2.23,7.43-3.5,10.72-.53,1.38-2.43,6.46-3.45,6.78-.52.16-1.87.27-2.29.01Z"/>
                                <path class="cls-4" d="M1374.46,264.03c-1.09.67-2.42,3.8-2.65,3.85-1.78.38-3.15-1.99-3.75-3.39l2.44-3.33c2.17-2.14,5.05-3,7.93-1.66,7.32,3.41,2.54,12.5-1.03,17.01l.76,1.04c1.09.13,3.31-.09,3.95.96.47.78-.09,3.2-.97,3.5-.98.33-9.54.17-10.21-.34-4.06-3.12,5.74-10.53,6.39-13.7.47-2.3.08-5.73-2.85-3.94Z"/>
                            </g>
                            </g>
                            <path class="cls-1" d="M2643.36,227.89l-211.1-211.1c-19.72-19.72-51.69-19.72-71.41,0l-194.18,194.18c-19.72,19.72-51.69,19.72-71.41,0l-194.18-194.18c-19.72-19.72-51.69-19.72-71.41,0l-196.19,196.19c-19.72,19.72-51.69,19.72-71.41,0l-196.19-196.19c-19.72-19.72-51.69-19.72-71.41,0l-195.49,195.49c-19.72,19.72-51.69,19.72-71.41,0L832.05,16.79c-19.72-19.72-51.69-19.72-71.41,0l-194.96,194.96c-19.72,19.72-51.69,19.72-71.41,0L299.31,16.79c-19.72-19.72-51.69-19.72-71.41,0L16.79,227.89c-19.72,19.72-19.72,51.69,0,71.41l211.1,211.1c19.72,19.72,51.69,19.72,71.41,0l194.96-194.96c19.72-19.72,51.69-19.72,71.41,0l194.96,194.96c19.72,19.72,51.69,19.72,71.41,0l195.49-195.49c19.72-19.72,51.69-19.72,71.41,0l195.49,195.49c19.72,19.72,51.69,19.72,71.41,0l196.19-196.19c19.72-19.72,51.69-19.72,71.41,0l196.19,196.19c19.72,19.72,51.69,19.72,71.41,0l194.18-194.18c19.72-19.72,51.69-19.72,71.41,0l194.18,194.18c19.72,19.72,51.69,19.72,71.41,0l211.1-211.1c19.72-19.72,19.72-51.69,0-71.41Z"/>
                            <text class="cls-3" transform="translate(93.79 618.35)"><tspan class="cls-13" x="0" y="0">B</tspan><tspan x="32.85" y="0">RA</tspan><tspan class="cls-13" x="91.93" y="0">N</tspan><tspan x="125.68" y="0">D ANT</tspan><tspan class="cls-13" x="255.06" y="0">HE</tspan><tspan x="318.82" y="0">M</tspan></text>
                            <text class="cls-3" transform="translate(642.54 618.35)"><tspan class="cls-11" x="0" y="0">SO</tspan><tspan class="cls-13" x="68.44" y="0">UN</tspan><tspan x="135.04" y="0">D </tspan><tspan class="cls-8" x="179.1" y="0">L</tspan><tspan class="cls-11" x="199.75" y="0">O</tspan><tspan class="cls-13" x="237.24" y="0">G</tspan><tspan x="275.67" y="0">O</tspan></text>
                            <text class="cls-3" transform="translate(1180.16 618.35)"><tspan class="cls-9" x="0" y="0">C</tspan><tspan x="33.48" y="0">A</tspan><tspan class="cls-13" x="62.55" y="0">M</tspan><tspan class="cls-8" x="100.98" y="0">P</tspan><tspan x="126.32" y="0">A</tspan><tspan class="cls-11" x="155.38" y="0">I</tspan><tspan class="cls-13" x="166.63" y="0">G</tspan><tspan x="205.06" y="0">N </tspan><tspan class="cls-12" x="249.12" y="0">F</tspan><tspan x="274.45" y="0">IT </tspan><tspan class="cls-10" x="25.6" y="54">V</tspan><tspan x="50.94" y="54">A</tspan><tspan class="cls-13" x="80.01" y="54">R</tspan><tspan x="111.91" y="54">I</tspan><tspan class="cls-7" x="122.22" y="54">A</tspan><tspan x="147.6" y="54">T</tspan><tspan class="cls-12" x="171.99" y="54">ION</tspan><tspan x="253.53" y="54">S</tspan></text>
                            <text class="cls-3" transform="translate(1780.03 618.35)"><tspan class="cls-8" x="0" y="0">T</tspan><tspan class="cls-11" x="21.6" y="0">OO</tspan><tspan x="96.57" y="0">L</tspan><tspan class="cls-11" x="120.01" y="0">K</tspan><tspan x="149.08" y="0">IT</tspan></text>
                            <text class="cls-3" transform="translate(2246.85 618.29)"><tspan class="cls-13" x="0" y="0">M</tspan><tspan class="cls-12" x="38.43" y="0">USI</tspan><tspan class="cls-6" x="112.54" y="0">C </tspan><tspan class="cls-13" x="159.12" y="0">GUI</tspan><tspan class="cls-11" x="242.59" y="0">D</tspan><tspan x="275.4" y="0">E </tspan><tspan x="87.52" y="54">L</tspan><tspan class="cls-13" x="110.97" y="54">IN</tspan><tspan class="cls-11" x="156.91" y="54">E</tspan><tspan class="cls-5" x="185.04" y="54">S</tspan></text>
                        </svg>
                        
                        <svg class="arrow" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 243.81 170.49">
                            <path class="arrowSvg" d="M241.55,90.48c1.2-1.35,2.17-3,2.25-4.77.13-2.98-1.58-4.63-2.18-5.15L165.15,3.25c-7.68-7.17-18.75-1.67-15.67,8.68l62.09,64.04H7.56C4.25,75.97.16,80.97,0,84.47c-.14,3.24,3.6,9.45,6.55,9.45h205.01l-1.49,3-59.37,59.29c-6.12,9.28,4.37,18.76,13.01,12.01l76.66-76.56s.04-.03.04-.03c.36-.33.72-.68,1.06-1.06l.07-.07h0Z"/>
                        </svg>
                    </div>
                </div>
                    

                </article>
                
                <article class="toelichting">
                    <h3>(Toelichting)</h3>
                    <p class="inspringen">Hier hoor je hoe Rabobank klinkt. Van jullie herkenbare hook tot flexibele variaties.
                         Op deze pagina vind je alles: de hoofdtrack & Sound Logo tot de toolkit met een uitleg hoe 
                         deze te gebruiken </p>
                </article>

                <article>
                    <h2>Festival</h2>
                    <img src="/img/mainstage-horizontaal.jpg" alt="Image main stage">

                    <svg class="arrow" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 243.81 170.49">
                        <path class="arrowSvg" d="M241.55,90.48c1.2-1.35,2.17-3,2.25-4.77.13-2.98-1.58-4.63-2.18-5.15L165.15,3.25c-7.68-7.17-18.75-1.67-15.67,8.68l62.09,64.04H7.56C4.25,75.97.16,80.97,0,84.47c-.14,3.24,3.6,9.45,6.55,9.45h205.01l-1.49,3-59.37,59.29c-6.12,9.28,4.37,18.76,13.01,12.01l76.66-76.56s.04-.03.04-.03c.36-.33.72-.68,1.06-1.06l.07-.07h0Z"/>
                    </svg>
                </article>

                <article class="toelichting">
                    <h3>(Muziek Concept)</h3>
                    <p class="inspringen">Een festival als metafoor en vertrekpunt voor elke muzikale keuze. Hier ontdek je welke genres en moods passen 
                        bij het merk en je doelgroep. Gebruik het als creatieve bron tijdens briefings en brainstorms om geïnspireerd te raken, 
                        keuzes te onderbouwen en altijd de juiste toon te vinden</p>

                </article>

                <article>
                    <h2>Deliverables</h2>
                    <img src="" alt="Image rabobank deliverable">

                    <svg class="arrow" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 243.81 170.49">
                        <path class="arrowSvg" d="M241.55,90.48c1.2-1.35,2.17-3,2.25-4.77.13-2.98-1.58-4.63-2.18-5.15L165.15,3.25c-7.68-7.17-18.75-1.67-15.67,8.68l62.09,64.04H7.56C4.25,75.97.16,80.97,0,84.47c-.14,3.24,3.6,9.45,6.55,9.45h205.01l-1.49,3-59.37,59.29c-6.12,9.28,4.37,18.76,13.01,12.01l76.66-76.56s.04-.03.04-.03c.36-.33.72-.68,1.06-1.06l.07-.07h0Z"/>
                    </svg>
                </article>

                <article class="toelichting">
                    <h3>(Toelichting)</h3>
                    <p class="inspringen">Alle tracks, variaties en elementen die we tot nu toe hebben gebruikt voor de campagnes 
                        staan hier overzichtelijk bij elkaar</p>
                </article>
               
            </section>
          
        </main>


        <%- include('partials/footer') %>
    </div>  
    
</body>
</html>

<style>
    /* algemeen home pagina */
    #homePage{
        display: flex;
        flex-direction: column;
        gap: 2em;

        width: 100%;

    }

    #homePage article{
        margin-left: var(--margin-width);
        margin-right: var(--margin-width);

    }
  
    /* eerste artikel */
    #homePage article:first-of-type{
        height: min(10em, 40vh);

        display: flex;
        flex-direction: column;
        justify-content: center;

        border-bottom: var(--border);
        padding: 2em 0;

    }

    #homePage article:first-of-type h1{
        font-size: 2.2em;
    }


    /* tweede artikel */
    #homePage article:nth-of-type(2){
        margin: 0;
        /* display: flex;
        flex-direction: column;
        justify-items: center; */
        /* align-items: center; */
    }

    #homePage article:nth-of-type(2) #sonicBrandingDiv{
        display: flex;
        align-items: center;

        background-image: url('/img/sonic-branding-background-gradient.png') ;
        /* background-size: cover; */
        background-size: 100vw auto;
        background-repeat: no-repeat;
        background-position: center;

        min-height: max-content;

        padding: 2em var(--margin-width);

        transform: translate( 0, calc( -3 * (var(--margin-width))));

        cursor: pointer;

    }

    #homePage article:nth-of-type(2) h2{
        font-size: 2.2em;
        margin-left: var(--margin-width);
        position: relative;
        z-index: 10;
    }

    #svgSonicBranding{
        width: 85%;
    }
    .arrow{
        width: 20%;
        transform: translate(calc( -1 * (var(--margin-width))), calc( -1 * (var(--margin-width))));

    }

    /* tweede artikel on hover */
    
    /* Trigger: hover op de container */
        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover #sonicBrandingDiv {
            background-image: none !important;
        }

        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover h2 {
            color: var(--color-turquoise);
        }

        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover #svgSonicBranding .cls-1,
        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover #svgSonicBranding .cls-2 {
            stroke: var(--color-turquoise);
        }

        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover #svgSonicBranding .cls-3,
        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover #svgSonicBranding .cls-2,
        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover #svgSonicBranding .cls-4 {
            fill: var(--color-turquoise);
        }

        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover .arrowSvg {
            fill: var(--color-turquoise);
        }

        /* flashen brackrgound on hover */
        @keyframes flashBackground {
        0%, 20% {
            background-image: none;
        }
        30%, 70% {
            background-image: url('/img/sonic-branding-background-gradient.png');
        }
        80%, 100% {
            background-image: none;
        }
        }

        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover #sonicBrandingDiv {
            animation: flashBackground 0.6s linear 2;
        }

        /* flashen h2 on hover */
        @keyframes flashColor {
        0%, 20% { 
            color: var(--color-turquoise);
        }
        30%, 70% {
            color: var(--color-white);
        }
        80%, 100% {
            color: var(--color-turquoise);
        }
        }

        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover h2 {
            animation: flashColor 0.6s linear 2;
        }

        /* stroke van SVG flashen on hover */
        @keyframes flashStroke {
        0%, 20% { 
            stroke: var(--color-turquoise);
        }
        30%, 70% {
            stroke: var(--color-white);
        }
        80%, 100% {
            stroke: var(--color-turquoise);
        }
        }

        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover #svgSonicBranding .cls-1,
        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover #svgSonicBranding .cls-2 {
            animation: flashStroke 0.6s linear 2;
        }

        /* fill van SVG flashen on hover */
        @keyframes flashFill {
        0%, 20% { 
            fill: var(--color-turquoise);
        }
        30%, 70% {
            fill: var(--color-white);
        }
        80%, 100% {
            fill: var(--color-turquoise);
        }
        }

        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover #svgSonicBranding .cls-3,
        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover #svgSonicBranding .cls-4,
        #homePage article:nth-of-type(2) #sonicBrandingcontainerDiv:hover .arrowSvg {
             animation: flashFill 0.6s linear 2;
        }











        
        
       

    


    

   
</style>